html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Ubuntu", sans-serif;
    background-image: url("../images/currency.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    flex-basis: 700px;
    margin: 20px;
    padding: 20px;
    background: rgb(134, 130, 117);
    border-radius: 15px;
    box-shadow: 4px 4px 6px 0px black;
}